nav{
    background-color: rgb(105, 174, 206) !important;
    color: rgb(91, 131, 147) 
}

body{
    background-color: rgb(126,195,220);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

footer{
    background-color: rgb(105, 174, 206);
    color: rgb(91, 131, 147);
    position: fixed;
    width: 100vw;
    bottom: 0
}

.collapse {
    justify-content: flex-end;
}

.nav-link:hover{
    color: white
}

.activeLink{
    color: white;
    font-weight: bolder;
}