nav{
    background-color: rgb(174, 206, 105) !important;
    color: rgb(131, 147, 91) 
}

body{
    background-color: rgb(195, 220, 126);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

footer{
    background-color: rgb(174, 206, 105);
    color: #83935B;
    position: fixed;
    width: 100vw;
    bottom: 0
}

.collapse {
    justify-content: flex-end;
}

.nav-link:hover{
    color: white
}

.activeLink{
    color: white;
    font-weight: bolder;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    color: white !important;

}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    border-color: white !important
}

.loadingDiv {
    animation: is-rotating 1s infinite;
    border: 6px solid #e5e5e5;
    border-radius: 50%;
    border-top-color: #198754;
    height: 50px;
    width: 50px;
}

@keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }

  .hide{
    display: none;
  }

  .loadingContainer{
    position: relative;
    min-height: 80vh;
    min-width: 100vw;
    background-color: rgb(195, 220, 126);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a:hover{
    cursor: pointer;
  }

  .icon{
    width: 20px;
    margin: 0 10px
}
.icon:hover{
  cursor: pointer;
}

input:-webkit-autofill,
  input:-webkit-autofill:focus {
  background-color: #C3DC7E;
  color: white;
  border: 0.5px solid  #83935B;
}