@media  (max-width: 800px){
    .dualFormSection{
        flex-direction: column;
        align-items: center;
    }
    .btn{
        margin-bottom: 10px;
    }
    .form-control , .input-group-text , .btn{
        font-size: 14px;
        min-height: 24px;
    }
    footer{
        position: relative;
    }
    span{
        text-align: center;
    }
}

@media  (max-width: 550px) {
    .navbar-brand , h3{
        font-size: medium !important;
    }

    p, input{
        font-size: xx-small;
    }

    div, a, label, select, .form-control , .input-group-text , .btn{
        font-size: 14px;
    }
    


    td , th{
        font-size: 12px;
    }

    .icon{
        width: 15px !important;
    }
    
    .home-text-section{
        display: flex;
        flex-direction: column;
    }
}

@media  (max-width: 450px) {
    .navbar-brand{
        font-size: 12px !important;
    }
    p, input{
        font-size: xx-small;
    }

    div, a, label, select, .form-control , .input-group-text , .btn{
        font-size: 12px;
    }


    td , th{
        font-size: 10px;
    }

    .home-text-section{
        display: flex;
        flex-direction: column;
    }
}

@media  (max-width: 370px) {
    .navbar-brand{
        font-size: 10px !important;
    }
    div, a, label, select, .form-control , .input-group-text , .btn{
        font-size: 10px;
    }
    p, input{
        font-size: xx-small;
    }

    .home-text-section{
        display: flex;
        flex-direction: column;
    }
}